@import "../../node_modules/bootstrap/scss/functions";
@import "../assets/stylesheet/variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";



*{
  margin: 0px;
  color: white;
}
.link{
  margin-left: 40px;
  margin-top: 50px;
  // padding-top: 50px;
  text-decoration: none;
  text-align: center;
}
